.tabs {
  cursor: pointer;
  position: relative;
  outline: none;
  color: #fff;
  margin: 0px;
  height: 40px;
  vertical-align: middle;
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.active-tabs {
  color: #fff;
  background: #F46D25;
  display: block;
  text-decoration: none;
  position: absolute;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 23px;
  padding:"2px 0px"
}

.tabsDisable {
  cursor: none;
  pointer-events: none;
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: #fff;
  margin: 0px;
  height: 28px;
  vertical-align: middle;
  padding: 10px 15px;
}

.content-tabs {
  flex-grow: 1;
}

.content {
  height: 100%;
  display: none;
}

.active-content {
  display: block;
}